html{
	overflow-x: hidden;
}
body{
	font-size: 14px;
}
header{
	height: 150px;
}
header .row:nth-of-type(1){
	height: 100%;
}

/**Commun**/
.vertical-align{
	height: 100%;
	display: table;
}
.vertical-item{
	display: table-cell !important;
	vertical-align: middle;
}
/**Padding**/
.p-0{
	padding: 0;
}

/**Margin]**/
.mt-20{
	margin-top: 20px;
}

/**Header home**/
#ham, #pinta{
	width: 30px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
#logoHome{
	height: calc( 100% - 60px);
	margin: 40px auto 20px;
}
#home{
	width: 100%;
	height: calc(100vh - 235px);
	position: relative;
}
#circle{
	width: calc(90vh - 250px);
    height: calc(90vh - 250px);
    background: red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
}
#sliderHome{
	width: 100%;
	height: 100%;
}
#sliderHome div{
	width: 100%;
	height: 100%;
	text-align: center;
}
.text_white{
	background: white;
    height: 40px !important;
    width: 170px!important;
    margin: 43% auto;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
}