html{
	overflow-x: hidden;
}
body{
	font-size: 14px;
	position: relative;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
    font-weight: lighter;
}
header{
	height: 150px;
}
header .row:nth-of-type(1){
	height: 100%;
}
a, a:hover{
	color: black;
	text-decoration: none;
}


/**Commun**/
.vertical-align{
	height: 100%;
	display: table;
}
.vertical-item{
	display: table-cell !important;
	vertical-align: middle;
}
/**Padding**/
.p-0{
	padding: 0;
}
.ptb-20px{
	padding: 20px 0;
}
.pb-20px{
	padding-bottom: : 20px;
}
/**Margin]**/
.mt-20{
	margin-top: 20px;
}


/**Header home**/
#ham, #pinta{
	width: 30px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: block;
	cursor: pointer;
}
#logoHome{
	height: calc( 100% - 60px);
	margin: 40px auto 20px;
}
#home{
	width: 100%;
	height: calc(100vh - 235px);
	position: relative;
}
#circle{
	width: calc(90vh - 250px);
    height: calc(90vh - 250px);
    background: red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
}
#sliderHome{
	width: 100%;
	height: 100%;
}
#sliderHome div{
	width: 100%;
	height: 100%;
	text-align: center;
}
.text_white{
	background: white;
    height: 40px !important;
    width: 170px!important;
    margin: 43% auto;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
}
/**Menu**/

header .row.open, footer.open, #home.open{
	width: calc(100% - 380px);
	margin-left: 380px;
}
header .row, footer, #home{
	margin-left: 0;
}
/**Footer**/
footer, header .row, #home{
	-webkit-transition: all 1.5s ease-out;
    -moz-transition: all 1.5s ease-out;
    -ms-transition: all 1.5s ease-out;
    -o-transition: all 1.5s ease-out;
    transition: all 1.5s ease-out;
}
