html{
	overflow-x: hidden;
}
body{
	font-size: 14px;
	position: relative;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
    font-weight: lighter;
}
header{
	height: 150px;
}
header .row:nth-of-type(1){
	height: 100%;
}
a, a:hover{
	color: black;
	text-decoration: none;
}
/**Header sections**/
header.sec{
	height: 70px;
	font-weight: normal;
	background: #fff;
	color: black;
}
.icon-menu{
	font-size: 40px;
	cursor: pointer;
}
.container-logo{
	height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.container-logo img{
	height: 40px;
}
.txt-header{
	padding-top: 35px;
}
#pinta.sec{
	position: relative;
	display: inline;
	margin-left: 10px;
}


/**Commun**/
.vertical-align{
	height: 100%;
	display: table;
}
.vertical-item{
	display: table-cell !important;
	vertical-align: middle;
}
/**Padding**/
.p-0{
	padding: 0;
}
.ptb-20px{
	padding: 20px 0;
}
.pb-20px{
	padding-bottom: : 20px;
}
.pt-30{
	padding-top: 30px;
}
.pt-60{
	padding-top: 60px;
}
/**Margin]**/
.mt-20{
	margin-top: 20px;
}


/**Header home**/
#ham, #pinta{
	width: 30px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: block;
	cursor: pointer;
}
#logoHome{
	height: calc( 100% - 60px);
	margin: 40px auto 20px;
}
#home{
	width: 100%;
	height: calc(100vh - 235px);
	min-height: 400px;
	position: relative;
}
#circle{
	width: calc(90vh - 250px);
    height: calc(90vh - 250px);
		min-width: 250px;
		min-height: 250px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
}
#sliderHome{
	width: 100%;
	height: 100%;
}
#sliderHome div{
	width: 100%;
	height: 100%;
	text-align: center;
}
.text_white{
	background: white;
    height: 40px !important;
    width: 170px!important;
    margin: 43% auto;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
}
/**Menu**/

header.home .row.open, footer.home.open, #home.open{
	width: calc(100% - 380px);
	margin-left: 380px;
}
header.home .row, footer.home, #home{
	margin-left: 0;
}

/**Sections**/
.titleSection{
	font-weight: bold;
	font-size: 20px;
	margin-top: 20px;
}

/**Pinta**/
#cerrarPinta{
	width: 30px;
	cursor: pointer;
}
#logPinta{
	font-family: 'Sedgwick Ave Display', cursive;
	color: #ff9e1a;
	font-size: 60px;
}
#containerPintaSection{
	position: relative;
	overflow: hidden;
}
#pintaSection{
	height: calc(100vh - 235px);
	min-height: 400px;
	overflow-x: scroll;
	overflow-y: hidden;
}
#pintaSearch{
	width: 440px;
	height: 40px;
	position: absolute;
	bottom: 25px;
	right: 50px;
}
.containerPinta{
	height: 100%;
	display: inline-flex;
}
.containerCircle{
	width: 300px;
	height: 100%;
	position: relative;
	display: inline-block;
}
.containerCircle:nth-of-type(odd) .circlePinta{
    top: 0;
}

.containerCircle:nth-of-type(even) .circlePinta{
    bottom: 0;
}
.circlePinta{
	width: 230px;
	height: 230px;
	border-radius: 50%;
	margin: 45px 45px 70px;
	position: absolute;
	left: 0;
	right: 0;
	background: purple;
}
.circlePinta .title{
	background: white;
  height: 40px !important;
  width: 170px!important;
  margin: 41% auto;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
}

/**Quienes somos**/
#quienesSomosSection{
	height: calc(100vh - 160px);
	min-height: 400px;
}
.selectPerson{
	width: 100%;
}
.selectPerson img{
	display: inline-block;
	width: calc(100%/8 - 5%);
	margin: 20px 2%;
	cursor: pointer;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    background: #000;
    outline: none;
		padding: 0 6.5%;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #000;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
.bios{
	margin-top: 40px;
	font-weight: 400;
}
.bios span{
	font-weight: 600;
	font-size: 19px;
}
.bios img{
	width: 80%;
	margin: 0 20%;
}


/**Footer**/
footer, header .row, #home{
	-webkit-transition: all 1.5s ease-out;
    -moz-transition: all 1.5s ease-out;
    -ms-transition: all 1.5s ease-out;
    -o-transition: all 1.5s ease-out;
    transition: all 1.5s ease-out;
}
.activeSec{
	color: #cbcbcb;
}
