.chart {
  margin-top: 40px;
}

text {
  font-family: Lato;
  font-weight: bold;

  fill:#da1549;
}

#d1 {
 display: block;
  margin-top: 40px;
}

svg {
	background-color: black;
}

rect {
  fill: none;
}
