body{
	font-size: 15px;
	font-family: 'Lato', sans-serif;
    font-weight: lighter;
	overflow-x: hidden;
	position: relative;
}
header{
	height: 70px;
	font-weight: normal;
	background: #fff;
	color: black;
}
header .row:nth-of-type(1){
	height: 100%;
}
a{
	color: black;
}
a:hover{
	text-decoration: none;
	color: black;
}

/**Commun**/
.vertical-align{
	height: 100%;
	display: table;
}
.vertical-item{
	display: table-cell !important;
	vertical-align: middle;
}
/**Padding**/
.p-0{
	padding: 0;
}
/**Margin**/
.mt-15{
	margin-top: 15px;
}
.mb-15{
	margin-bottom: 15px;
}
.mt-50{
	margin-top: 50px;
}
/**Header**/
.icon-menu{
	font-size: 40px;
	cursor: pointer;
}
.container-logo{
	height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.container-logo img{
	height: 40px;
}
.txt-header{
	padding-top: 35px;
}

/**Banner**/
#banner-container{
	position: relative;
	height: calc(100vh - 70px);
}
#banner{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	height: 100%;
}
#banner div{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
#banner .banner1{
	background-image: url(../../img/sismo/banner/01.JPG);
}
#banner .banner2{
	background-image: url(../../img/sismo/banner/02.JPG);
}
#banner .banner3{
	background-image: url(../../img/sismo/banner/03.JPG);
}
#banner .banner4{
	background-image: url(../../img/sismo/banner/04.JPG);
}
#banner .banner5{
	background-image: url(../../img/sismo/banner/05.JPG);
}
#banner .banner6{
	background-image: url(../../img/sismo/banner/06.JPG);
}
#infoBanner-container{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
}
#first-title{
	font-size: 50px;
	display: flex;
	margin-top: 10vh;
	border-left: 15px solid white;
	margin-bottom: 40px;
	cursor: pointer;
}
#first-title div:first-child{
	background-color: black;
	color: white;
	font-family: 'Zilla Slab', serif;
	font-weight: bold;
}
#first-title div:last-child{
	background-color: white;
	color: black;
	padding:0 10px;
}
.option{
	font-size: 24px;
	background-color: white;
	color: black;
	padding-left: 20px;
	padding-right: 5px;
	margin: 15px 0;
	display: table;
	font-weight: normal;
	font-family: 'Zilla Slab', serif;
}
.option a{
	color: black !important;
}
.option a:hover{
	text-decoration: none !important;
}
#info-banner{
	position: absolute;
	top: calc(20vh + 50px);
	right: -100vw;
    background-color: #00000087;
    color: white;
    padding: 45px 0px 45px 45px;
    font-weight: normal;
	font-size: 15px;
    -webkit-transition: all 1.5s ease-out;
    -moz-transition: all 1.5s ease-out;
    -ms-transition: all 1.5s ease-out;
    -o-transition: all 1.5s ease-out;
    transition: all 1.5s ease-out;
}
#info-banner.open{
	right: 0;
}
#foto{
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: white;
}
/***Footer**/
footer{
	background: #000;
	padding: 20px 0;
	color: #fff;
}
.footer-logo{
	width: 200px;
	margin-bottom: 20px;
}
.social{
	width: 100%;
	clear: both;
    padding: 15px 0;
}
.social img{
	width: 40px;
	margin: 0 15px;
	display: inline-block;
}

/***Sections***/
#sub-menu{
	width: 100%;
	background-color: #000;
}
#sub-menu.fixed{
	position: fixed;
    top: 0;
    z-index: 99999;
}
.sub-menu-opts{
	height: 0;
	overflow: hidden;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
}
.sub-menu-opts.open{
	height: 47px;
}
.sub-menu-opts div{
	display: inline-block;
	margin: 20px 10px 0px 0;
	background: #fff;
	color: black;
	font-weight: normal;
	font-size: 18px;
	padding: 0 5px;
}
.sub-menu-opts div.active{
	background: #dfd6d8;
}
#sub-menu-icon{
	width: 100%;
	clear: both;
	padding: 10px;
}
#sub-menu-icon img{
	width: 30px;
	cursor: pointer;
}
#info{
	padding: 30px 0;
	font-weight: 400;
}
.title{
	font-family: 'Zilla Slab Highlight', cursive;
	font-size: 28px;
	font-weight: bold;
}
.bkgrnd-pink{
	background: #dfd6d8;
}
.image-title{
	color: white;
	font-size: 16px;
	background: #999a98;
}
.img-info{
	width: 100%;
	margin: 15px 0;
}
.image-txt{
	font-size: 12px;
	color: #656464;
}
.bkgrnd-white{
	background: #FFFFFF;
}
.bkgrnd-pink2{
	background: #d43e50;
}

#scrollContainer{
	height: 90vh;
	overflow: hidden;
	position: relative;
	display: table;
}
#imgToScroll{
	-webkit-transition: all 1.5s linear;
    -moz-transition: all 1.5s linear;
    -ms-transition: all 1.5s linear;
    -o-transition: all 1.5s linear;
    transition: all 1.5s linear;
    position: absolute;
    left: 0;
    top: 0;
}
#imgArrows{
    top: calc(45vh - 60px);
    width: 120px;
    height: 120px;
    background-image: url("../../img/sismo/social/scroll vertical.svg");
    background-size: cover;
    margin: auto;
    text-align: center;
    position: relative;
    cursor: pointer;
}
#imgArrows.showA{
	display: table-cell;
	vertical-align: middle;
}
#up, #down{
	display: block;
	width: 100%;
	height: 60px;
}
.activeS{
	color: #a98d30 !important;
}
.optSocial{
	cursor: pointer;
}
.bkgrnd-pink3{
	background: #d63f55;
}
#containerMap{
	position: relative;
}
#infoMap{
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
}
.select{
	color: black;
    border-radius: 10px;
    width: 150px;
}
.imageCol{
	border: 1px dotted #d63f55;
	width: 100%;
}
#tipo span{
	font-size: 18px;
	font-weight: bold;
}
#tipo img{
	display: inline-block;
	width: 30px;
    margin: 5px 10px 10px;
}
#tipo label{
	display: inline-block;
	font-weight: normal !important;
}
.lacustre{
	background-image: url(../../img/sismo/ley/piso_lacustre.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	padding: 20px;
	position: relative;
}
.transicion{
	background-image: url(../../img/sismo/ley/piso_transicion.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	padding: 20px;
	position: relative;
}
.lomas{
	background-image: url(../../img/sismo/ley/piso_lomas.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	padding: 20px;
	position: relative;
}
.lacustre img, .transicion img, .lomas img{
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 70%;
	max-width: 300px;
}
.titlaSlider{
	font-family: lato;
	font-size: 24px;
	font-weight: bold;
}
.titlaSlider span{
	font-style: 22px;
	color: #DA1549;
	font-weight: normal;
}
.col1{
	font-family: lato;
	font-size: 18px;
	color: #CACACA;
}
.col2{
	font-family: lato;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
}
.flex{
	display: flex;
}
#all{
	text-align: center;
}
#all img{
	height: 165px;
	margin: 40px 25px;
	display: inline-block;
}
.separadores{
	width: 20px !important;
}
#delegacion.active, #suelo.active{
	color: #DA1549;
}
